/**
* @name Collapse
* @description Makes the sidebars collapsible
* @author Fibes
*/


/* add/remove comments surrounding an @import to disable/enable that feature */
/* add/remove "overlay" at the end of a url to change how that sidebar is displayed (e.g. .../guilds.css' or .../guildsoverlay.css') */

/* guilds sidebar */
@import url('https://raw.githubusercontent.com/gurpreetfrs/discord-collapse-fork/main/guildsoverlay.css');
/* users sidebar */
@import url('https://raw.githubusercontent.com/gurpreetfrs/discord-collapse-fork/main/usersoverlay.css');

:root {
    --1: 0.2s;
    --2: 0.6s;
    --3: 1s;
    --4: 0s;

    --10: 0.2s;
    --11: 0.6s;
    --12: 1s;
    --13: 0.3s;

    --ease: cubic-bezier(0.22, 1, 0.36, 1);

    --guild-hover-width: 20px;
}
